.contact{
 .info-section {
  padding:56px;
  width:40%;
  } // end .info-section
 
 .content-area{
  margin-left: 40%;
  width:60%;
  background: white;
  height:100%;
  // padding:0 0 0 25%;
  } // end .content-area
  .img-container {
   display:inline-block;
   width:40%;
   position: relative;
   height:100%;
   
   .form-section {
    overflow-y: scroll;
    overflow-x:hidden;
    position:absolute;
    top:56px;
    left:-280px;
    width: 580px;
     height: calc(100% - 112px);
     padding:46px;
    background: $greyDark;
    color:$whiteOff;
     border-radius: 5px;
     -webkit-box-shadow: 3px 3px 5px -1px rgba(135,170,240,1);
    -moz-box-shadow: 3px 3px 5px -1px rgba(135,170,240,1);
    box-shadow: 3px 3px 5px -1px rgba(135,170,240,1);
    
    h4 {
     font-size: 1.6rem;
     margin-top:.5rem;
     margin-bottom: 1.2rem;
    } //end .form-section .h4
    
    input[type="text"], 
    input[type="email"],
     textarea {
     width:100%;
     background: transparent;
     border:none;
     border-bottom:2px solid $greyLight;
     margin-bottom: 2rem;
     font-size: 1.1rem;
     text-transform: uppercase;
     line-height: 1.2;
     color:$greyLight;
     padding:15px 0;
    } //end .form-section input['text'], input['email'], textarea
    
    button[type='submit'] {
     background:$hoverColor;
     color:$whiteOff;
     border:none;
     -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
     border-radius: 30px;
     text-align: center;
     color: $whiteOff;
     font-size: 1rem;
     padding: 17px 30px;
     text-transform: uppercase;
     width:100%;
      } //end .form-section button[type='submit']
     } //end .form-section
    } //end .img-container
   } //end .contact
  
   .contact-section {
    vertical-align: top;
    // display:inline-block;
    padding: 46px;
    width: 60%;
    float:right;
    

    .contact-info {
      h1 {
      font-size: 2.3rem;
      font-weight: 600;
      line-height: 1.1;
      margin: 0.2rem 0 1rem 0;
      span {
       color: $purpleDark;
       } //end .contact-info span
      } //end .contact-info h1
      .contact-box {
       max-width: 600px;
       padding: 30px;
       width:100%;
      transition: all .5s ease-in-out;
      cursor: pointer;
         h5 {
      font-weight: 600;
      font-size: 1.1rem;
      margin: 0 0 1.5rem;
       } //end .contact-info .contact-box h5
     p {
      color: $greyLight;
      font-weight: 300;
      line-height: 1.4;
      margin: 0 0 2rem 0;
       } //end .contact-info .contact-box p
      &:hover {
      -webkit-box-shadow: 0 20px 74px 6px rgba(0,0,0,0.20);
      -moz-box-shadow: 0 20px 74px 6px rgba(0,0,0,0.20);
      box-shadow: 0 20px 74px 6px rgba(0,0,0,0.20);
    
      } //end .contact-info .contact-box :hover
     } //end .contact-info .contact-box 
     
    } //end .contact-info 
   } //end .contact-section
  
//*************Start media queries/responsive design**************************
 
//phone start
@media (max-width: 767px) {
  .contact{
    .menu-icon{
      top:-3px;
      right:20px;
      color:white;

      #fa-bars {
        color:white;

      }

    }
    .info-section{
      // display:none;
      padding: 10px 20px;
      /* width: 35%;*/
     position: static; 
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0;*/
    }
    .logo {
      height: 50px;
      width: 70px;
      font-size: 1.1rem;
    }
    .info-box {
      display:none;
    }
    .content-area{
      margin-left:0;
      width:100%;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      .img-container{
      padding:56px 20px 0;
    .form-section{
      position:static;
      width:100%;
       }//end .form-section
      }//end .img-container
      
      .profile-section{
        width:70%;
        float: right;
        padding:20% 20px 0;
      }

      &:after {
        content: "";
        display: table;
        clear: both;
      }
      
    }//end .content-area
  }//end .contact
} //end phone 
//tablet start 
@media (min-width: 768px) and (max-width: 991px) {
  .contact{
    .content-area{
      .profile-section{
        width:70%;
        float: right;
        padding:20% 20px 0;
      }
      .img-container{
        padding:56px 20px 0;
        .form-section{
          position:static !important;
          width:100%;
        }//end .form-section
      }//end .img-container
    }//end .content-area
  }//end .contact   
}// end tablet
//laptop start
@media (min-width: 992px) and (max-width:1199px) {
    .contact{
    .content-area{
      .img-container{
        padding:56px 20px 0;
        float: left;
        .form-section{
          // width:300px;
          position:static !important;
          width:100%;
        }//end .form-section
      }//end .img-container
      .profile-section{
        width:70%;
        float: left;
        padding:20% 20px 0;
        max-width: 800px;
      }
      
      
    }//end .content-area
  } // end .contact
}// end laptop
//extra big
@media (min-width: 1200px) {
  .contact{
    .content-area{
      .img-container{
        padding:56px 20px 0;
        float: left;
        .form-section{
          width:350px;
          // position:static !important;
          // width:100%;
        }//end .form-section
      }//end .img-container
      .profile-section{
        width:70%;
        float: left;
        padding:20% 60px 0;
        max-width: 800px;
      }
      
    }//end .content-area
  } // end .contact
}// end extra big 

//*************End media queries/responsive design**************************
 
 