.work{
  background: $blueDark;
  //  overflow:scroll;
  .info-section {
    padding:32px;
    width:35%;
    } // end .work .info-section
 
  .content-area{
  margin-left: 35%;
  width:65%;
  min-width:300px;
  background: white;
  height:100%;
  overflow:hidden;
  } // end .work .content-area

  .work-section {
    margin-bottom: 56px;
    h1 {
      font-weight: 700;
      font-size: 2rem;
      text-transform: uppercase;
      margin:56px;
    } // end .work .work-section h1
    
  
    .project-section {
      display:grid;
      grid-template-columns: 1fr 1fr;
      
      // max-width: 1000px;
      overflow:hidden;
      
      .project-box {
        position:relative;
        padding: 30px;
        transition: all .5s ease-in-out;
        cursor: pointer;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height:400px;
        &:hover {
        -webkit-box-shadow: 0 20px 74px 6px rgba(0,0,0,0.20);
        -moz-box-shadow: 0 20px 74px 6px rgba(0,0,0,0.20);
        box-shadow: 0 20px 74px 6px rgba(0,0,0,0.20);
        } // end .work .work-section .project-section .project-box :hover 
        h5 {
          font-weight: 500;
          font-size: 1.3rem;
          margin-bottom: 1.4rem;
        } // end .work .work-section .project-section .project-box h5
        p {
          font-weight: 300;
          font-size: 1rem;
          margin-bottom: 1rem;
        } // end .work .work-section .project-section .project-box p

        .grey-bg {
          background:$greyLightest;
          position: absolute;
          top:0;
          bottom:0;
          right:0;
          left:0;
          opacity:0;
          transition: all .3s ease-in-out;
          overflow:hidden;

          &:hover {
            opacity:0.9;
          .project-info {
            .project-details {
              transform: translate3d(0, 0, 0);
              opacity:1;
            } // end .work .work-section .project-section .project-box .grey-bg &:hover .project-info .project-details
            .project-title {
              transform: translate3d(0, 0, 0);
              opacity:1;
            } // end .work .work-section .project-section .project-box .grey-bg &:hover .project-info .project-title
            #arrow {
              transform: translate3d(0, 0, 0);
              opacity:1;
            } // end .work .work-section .project-section .project-box .grey-bg &:hover .project-info #arrow
          } // end .work .work-section .project-section .project-box .grey-bg &:hover .project-info
          } // end .work .work-section .project-section .project-box .grey-bg &:hover

          .project-info {
            padding:56px;
            position:absolute;
            bottom:0;
            width:100%;

            .project-details {
              position:relative;
              font-size: 1.1rem;
              text-transform: capitalize;
              margin: 0 0 1rem;
              transform: translate3d(-200px, 0, 0);
              opacity:0;
              transition: all .5s ease-in-out;
            } // end .work .work-section .project-section .project-box  .project-info .project-details

            .project-title {
              font-size: 1.8rem;
              text-transform: uppercase;
              font-weight: 700;
              transform: translate3d(0,200px, 0);
              opacity:0;
              transition: all .6s ease-in-out 0.1s;
            } // end .work .work-section .project-section .project-box grey-bg .project-info .project-title

            #arrow {
              position:absolute;
              bottom:56px;
              right:56px;
              font-size: 3rem;
              transform: translate3d(0,-400px, 0);
              opacity:0;
              transition: all .6s ease-in-out 0.3s;
            }// end .work .work-section .project-section .project-box grey-bg .project-info #arrow
            
          } // end .work .work-section .project-section .project-box grey-bg .project-info 

        } // end .work .work-section .project-section .project-box grey-bg
      
      } // end .work .work-section .project-section .project-box 
  
    }// end .work .work-section .project-section 
  
  } // end .work-section
} // end .work


//*************Start media queries/responsive design**************************
 
//phone start
@media (max-width: 767px) {
  .work{
    .menu-icon{
      top:-3px;
      right:20px;
      color:white;

      #fa-bars {
        color:white;

      }

    }
    .info-section{
      // display:none;
      padding: 10px 20px;
      /* width: 35%;*/
     position: static; 
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0;*/
    }
    .logo {
      height: 50px;
      width: 70px;
      font-size: 1.1rem;
    }
    .info-box {
      display:none;
    }
    .content-area{
      margin-left:0;
      width:100%;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      
      .work-section{
        width:100%;
        float: left;
        padding:20% 20px 0;
        

        .project-section {
          grid-template-columns: 1fr;
         }
      }

      &:after {
        content: "";
        display: table;
        clear: both;
      }
      
    }//end .content-area
  }//end .work
} //end phone 
//tablet start 
@media (min-width: 768px) and (max-width: 991px) {
  .work{
    .info-section {
        .icon-section {
          a {
            font-size: 1.4rem;
          } //end of .info-section .icon-section a
        } // end icon-section
      } // end info-section
    .content-area{
      height:auto;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      .work-section{
        width:100%;
        float: left;
        padding:20% 20px 0;

        .project-section {
          grid-template-columns: 1fr;
         }
      }
      
    }//end .content-area
  }//end .work   
}// end tablet
//laptop start
@media (min-width: 992px) and (max-width:1199px) {
  
  .work{
      //   .menu-icon{
      // top:-3px;
      // right:20px;
      // color:white;

      // #fa-bars {
      //   color:white;
      //   }
      // }
      .info-section {
        .icon-section {
          a {
            font-size: 1.7rem;
          } //end of .info-section .icon-section a
        } // end icon-section
      } // end info-section
    .content-area{
      height:auto;
      width:100%;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      
      .work-section{
        overflow-x:scroll;
        overflow-y:scroll;
        width:100%;
        float: left;
        padding:20% 20px 0;
        min-width: 800px !important;
      .project-section {
        grid-template-columns: 1fr;
      .project-box {
        min-width: 400px !important;
      }
      }
      }

      
      
    }//end .content-area
  }// end .work
}// end laptop
//extra big
@media (min-width: 1200px) {
  .work{
      //   .menu-icon{
      // top:-3px;
      // right:20px;
      // color:white;

      // #fa-bars {
      //   color:white;
      //   }
      // }
      .info-section {
        .icon-section {
          a {
            font-size: 1.7rem;
          } //end of .info-section .icon-section a
        } // end icon-section
      } // end info-section
    .content-area{
      height:auto;
      width:100%;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      
      .work-section{
        width:100%;
        float: left;
        padding:20% 20px 0;
        min-width: 800px !important;
      .project-section {
        grid-template-columns: 1fr 1fr;
      .project-box {
        min-width: 400px !important;
      }
      }
      }

      
      
    }//end .content-area
  }// end .work
}// end extra big 

// start extra extra big
@media (min-width: 1500px) {
  .work{
      //   .menu-icon{
      // top:-3px;
      // right:20px;
      // color:white;

      // #fa-bars {
      //   color:white;
      //   }
      // }
      .info-section {
        .icon-section {
          a {
            font-size: 1.7rem;
          } //end of .info-section .icon-section a
        } // end icon-section
      } // end info-section
    .content-area{
      height:auto;
      width:100%;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      
      .work-section{
        width:100%;
        float: left;
        padding:20% 20px 0;
        min-width: 800px !important;
      .project-section {
        grid-template-columns: 1fr 1fr;
      .project-box {
        min-width: 400px !important;
      }
      }
      }

      
      
    }//end .content-area
  }// end .work
}// end extra extra big 

//*************End media queries/responsive design**************************
 